<?xml version="1.0"?>

<launch>
    <arg name="qualisys_available" default="false"/> <!-- This has to be set to False when using sim -->

	<param name="qualisys_available" type="boolean" value="$(arg qualisys_available)" />

	<param name="drone_ip" type="string" value="10.202.0.1" />

	<node name="anafi_bridge" pkg="olympe_bridge" type="anafi_bridge.py" output="screen"/>
</launch>
