<?xml version="1.0"?>

<launch>
	<arg name="indoor" default="false"/>
	<arg name="skycontroller" default="false"/>

	<param name="indoor" type="boolean" value="$(arg indoor)" />
	<param name="skycontroller" type="boolean" value="$(arg skycontroller)" />

	<node name="anafi_bridge" pkg="olympe_bridge" type="anafi_bridge.py" output="screen"/>
</launch>
